client
dev tun
proto udp
remote-random
{% for remote in openvpn_remote_servers %}
remote {{ remote }} {{ openvpn_port }}
{% endfor %}
ca ./ca.crt
cert ./client.crt
key ./client.key
remote-cert-tls server
tls-version-min 1.2
tls-cipher TLS-ECDHE-RSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-ECDSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256
cipher AES-256-CBC
auth SHA512
resolv-retry infinite
auth-retry none
nobind
persist-key
persist-tun
ns-cert-type server
comp-lzo
verb 3
tls-client
tls-auth ./ta.key 1
